/* Main Tags Section */
body {
  font-family: "Montserrat-bold";
  text-align: center;
}

/* Headings */
.main-heading {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

.sub-heading {
  font-size: 2rem;
}

.sub-headers-text {
  color: #8f8f8f;
}

/* Navigation Bar Section */
.navbar {
  padding: 0 0 60px 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  line-height: 1.5;
}

.nav-item {
  padding: 0 8px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat-light;
}

/* title section */
#title {
  text-align: left;
}

#title .container-fluid {
    padding: 3% 15%;
}

.container-fluid {
  padding: 7% 15%;
}

.download-button {
  margin: 5% 5% 5% 0
}

.title-image {
  width: 20%;
  transform: rotate(25deg);
  right: 25%;
  position: absolute;
}

/* features section */
#features {
  position: relative;
}

.icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68;
}

/* testimonials section */
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Background colors Section*/
.pink-background {
  background-color: #FF4C68;
  color: #fff;
}

.white-background {
  background-color: #FFF;
}

/* Press section */
#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px 20px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.pricing-text{
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* footer section */
.social-icon {
  padding: 0 8px;
  display: inline-block;
}

.footer-icon {
  color: #000000;
}

.footer-fab-all {
  padding: 15px 0;
}

/* Adding @media Section */
@media (max-width: 990px) {
  #title {
    text-align: center;
  }

  .title-image {
    width: 50%;
    transform: rotate(0deg);
    position: static;
  }
}
